{% extends "layout/layout.njk" %}
{% block header %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Usuários
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Usuários</li>
  </ol>
</section>
{% endblock %}

{% block conteudo %}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Lista de usuários</h3>
        <div class="box-tools">
          <div class="input-group-btn">
            <button type="button" class="btn btn-sm btn-block btn-success" data-toggle="modal" data-target="#myModal"><i
                class="fa fa-plus"></i> Adicionar</button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Grupo</th>
            <th width="200">Ações</th>
          </tr>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.gruponome | capitalize }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Opções
                  <span class="fa fa-caret-down"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/usuarios/">Visualizar</a></li>
                  <li><a href="/usuarios/editar">Editar</a></li>
                  <li><a href="/usuarios/foto/{{ usuario.id }}">Foto</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Deletar</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="/usuarios/adicionar">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Registro de novo usuário</h4>
        </div>

        <div class="modal-body">
          <div class="form-group has-feedback">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" name="nome">
          </div>
          <div class="form-group has-feedback">
            <label for="exampleInputEmail1">Grupo</label>
            <select class="form-control" name="grupos_id">
              {% for grupo in grupos %}
              <option value="{{ grupo.id }}">{{ grupo.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group has-feedback">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group has-feedback">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" name="senha">
          </div>
          <div class="form-group has-feedback">
            <label for="exampleInputPassword2">Confirme a senha</label>
            <input type="password" class="form-control" name="senha_confirma">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-default">Registrar</button>

        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.Modal -->


{% endblock %}